<div id="areaUpdate" class="qe-form-content" ng-controller="area.update">
    <form role="form" name="area_update">
        <div ng-include src="'w.save.cancel'"></div>
        <div>
            <div class="qe-table">
                <div class="row">
                    <label class="col-xs-4 control-label">{{translation.lbl_TenMien}}<span ng-if="!ModelData.IsViewMode">{{translation.IsNotNull}}</span></label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control"
                            ng-model="ModelData.AreaName" focus="{{ModelData.IsFocusAreaName}}"
                            name="ModelData_AreaName" disabled validation-error-to="ModelData_AreaName_Error"
                            validation="required:alt={{translation.ErrorInput_required}}|max_len:100:alt={{translation.ErrorInput_max_len_100}}" />
                        <span id="ModelData_AreaName_Error" class="validation"></span>
                    </div>
                </div>

                <div class="row">
                    <label class="col-xs-4 control-label">{{translation.Desciption}} <span ng-if="!ModelData.IsViewMode">{{translation.IsNotNull}}</span></label>
                    <div class="col-xs-8">
                        <textarea ng-model="ModelData.Note" ng-disabled="ModelData.IsViewMode"
                            class="form-control"
                            name="ModelData_Note" validation-error-to="ModelData_Note_Error"
                            validation="max_len:500:alt={{translation.ErrorInput_max_len_500}}"></textarea>
                        <span id="ModelData_Note_Error" class="validation"></span>
                    </div>
                </div>
            </div>
         
        </div>
    </form>
</div>
